@page
@model KSCApp.Pages.Admin.Teams.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="blueTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].TeamNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].TeamLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].League)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Team) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamLogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.League.LeagueId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TeamId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TeamId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TeamId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
