@page
@model KSCApp.Pages.Admin.MatchSlots.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatchSlot[0].BookingSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchSlot[0].SlotMinutes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MatchSlot) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingSlot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SlotMinutes)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MatchSlotId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MatchSlotId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MatchSlotId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
