@page
@model KSCApp.Pages.Admin.TeamPlayers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="blueTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamPlayer[0].Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamPlayer[0].MatchesPlayed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamPlayer[0].MatchesWon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamPlayer[0].GamesWon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamPlayer[0].GamesLost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamPlayer[0].Player)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamPlayer[0].Team)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TeamPlayer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchesPlayed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchesWon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GamesWon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GamesLost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player.PlayerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TeamPlayerId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TeamPlayerId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TeamPlayerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
