@page
@model KSCApp.Pages.Admin.Matches.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="topdiv">
    <div class="HomeTitle">
        <h2>Matches</h2>
    </div>

    @Html.Partial("_LeagueSelectPartial", @Model.LeagueSelectVM)

</div>


<div class="topdiv">
    <h4>@Model.LeagueSelectVM.SelectedLeague.LeagueName</h4>

    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Match[0].PlayerA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Match[0].PlayerB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Match[0].Level)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Match[0].Played)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Match[0].PlayedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Match[0].PlayerAgames)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Match[0].PlayerBgames)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Match)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlayerA.PlayerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlayerB.PlayerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Played)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlayedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlayerAgames)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlayerBgames)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.MatchId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.MatchId">Details</a> |                       
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>



