@page
@model KSCApp.Pages.Members.Players.IndexModel

@{
    ViewData["Title"] = "Players";
}

<div class="topdiv">
    <div class="HomeTitle">
        <h2>League Players</h2>
    </div>

    @Html.Partial("_LeagueSelectPartial",@Model.LeagueSelectVM)

</div>

<div class="topdiv">
    <h4>@Model.LeagueSelectVM.SelectedLeague.LeagueName</h4>

    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>         
                    <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                        @Html.DisplayNameFor(model => model.TeamPlayers[0].Player.PlayerName)
                    </a>
                </th>
                <th>            
                    <a asp-page="./Index" asp-route-sortOrder="@Model.TeamSort">
                        @Html.DisplayNameFor(model => model.TeamPlayers[0].Team)
                    </a>
                </th>
                <th>                 
                    <a asp-page="./Index" asp-route-sortOrder="@Model.LevelSort">
                        @Html.DisplayNameFor(model => model.TeamPlayers[0].Level)
                    </a>
                </th>
                <th>                  
                    <a asp-page="./Index" asp-route-sortOrder="@Model.PointSort">
                        @*@Html.DisplayNameFor(model => model.TeamPlayers[0].GamesWon)*@Points
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeamPlayers[0].Player.ContactNo)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TeamPlayers)
            {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Player.PlayerId">@Html.DisplayFor(modelItem => item.Player.PlayerName)</a>                 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team.TeamNo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GamesWon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Player.ContactNo)
                </td>
            </tr>
            }
        </tbody>
    </table>


</div>


