@page
@model KSCApp.Pages.Members.RescheduleModel

<div class="topdiv">
    <div class="HomeTitle">
        <h2>Re-Schedule Match</h2>
    </div>

    @Html.Partial("_LeagueSelectPartial", @Model.LeagueSelectVM)

</div>

<div class="topdiv">
    <h4>Cancelled Matches</h4>
    <hr/>
    @foreach (var item in Model.CancelledMatches)
    {
        <div class="well col-lg-4">
            <p>
                @Html.DisplayFor(modelItem => item.Fixture.League.LeagueName)
            </p>
            <p>
                (L @item.Level) @item.PlayerA.PlayerName v @item.PlayerB.PlayerName
            </p>

            <a asp-page="./MatchScore" asp-route-id="@item.MatchId">Enter Result</a> |
            <a asp-page="./MatchToSlot" asp-route-id="@item.MatchId">Re-Schedule</a>
        </div>
    }
</div>

<div class="topdiv">
    <h4>Over Due Matches</h4>
    <hr/>
    @foreach (var item in Model.OverDueMatches)
    {
        <div class="well col-lg-4">
            <p>
                @Html.DisplayFor(modelItem => item.Match.Fixture.League.LeagueName)
            </p>
            <p>
                (L @item.Match.Level) @item.Match.PlayerA.PlayerName v @item.Match.PlayerB.PlayerName
            </p>
            <p>Originally Planned @item.BookingSlot.ToShortDateString() </p>

            <a asp-page="./MatchScore" asp-route-id="@item.Match.MatchId">Enter Result</a> |
            <a asp-page="./MatchToSlot" asp-route-id="@item.Match.MatchId">Re-Schedule</a>
        </div>
    }
</div>