@page
@model FixtureModel
@{
    ViewData["Title"] = "Fixtures";
}
<div class="topdiv">
    <div class="HomeTitle">
        <h2>@ViewData["Title"]</h2>
    </div>

    @Html.Partial("_LeagueSelectPartial", @Model.LeagueSelectVM)

</div>

<div class="topdiv">
    <h4>@Model.LeagueSelectVM.SelectedLeague.LeagueName</h4>
    <hr/>
    @foreach (var item in Model.Fixture)
    {
        <div class="well col-lg-6 col-lg-offset-3">
            <p>
                @Html.DisplayFor(modelItem => item.PlayDate)
            </p>
            <p>
                Team @item.TeamA.TeamNo: @item.TeamA.TeamName v Team @item.TeamB.TeamNo: @item.TeamB.TeamName
            </p>

        </div>
    }
</div>
