@page
@model FixtureModel
@{
    ViewData["Title"] = "Fixtures";
}
<div class="topdiv">
    <div class="HomeTitle">
        <h2>@ViewData["Title"]</h2>
    </div>
    <br />


    <div class="col-lg-3 LeagueSelect">
        <div>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Select League</label>
                    <select asp-for="SelectedLeague.LeagueId" class="form-control" asp-items="ViewBag.LeagueId" onchange="this.form.submit()"></select>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="topdiv">
    <h4>@Model.SelectedLeague.LeagueName</h4>
    <hr/>
    @foreach (var item in Model.Fixture)
    {
        <div class="well col-lg-6 col-lg-offset-3">
            <p>
                @Html.DisplayFor(modelItem => item.PlayDate) Team No.@item.TeamA.TeamNo @item.TeamA.TeamName v Team No.@item.TeamB.TeamNo @item.TeamB.TeamName
            </p>

        </div>
    }
</div>
