@page
@model IndexModel
@{
    ViewData["Title"] = "Killala Squash Club";
}
<div class="topdiv">
    <div class="HomeTitle">
        <h2>League Table</h2>
    </div>

    @Html.Partial("_LeagueSelectPartial", @Model.LeagueSelectVM)

</div>

<div class="topdiv">
    @if (Model.LeagueSelectVM.SelectedLeague != null)
    {
        <h4>@Model.LeagueSelectVM.SelectedLeague.LeagueName</h4>
   
        <p>@Model.Message</p>
    <hr />
    @if (Model.LeagueSelectVM.SelectedLeague.LeagueType == Models.LeagueType.Short)
    {
        <h4>Section A</h4>
    }
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Team
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeagueTableA[0].TeamName)
                </th>
                <th>
                    Played
                </th>
                <th>
                    Points
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1; }
            @foreach (var item in Model.LeagueTableA)
            {
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MatchesPlayed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GamesWon)
                    </td>
                    <td>
                        <a asp-page="./Teams" asp-route-id="@item.TeamId">View</a>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>

    @if (Model.LeagueSelectVM.SelectedLeague.LeagueType == Models.LeagueType.Short)
    {
        <h4>Section B</h4>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Team
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LeagueTableA[0].TeamName)
                    </th>
                    <th>
                        Played
                    </th>
                    <th>
                        Points
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ i = 1; }
                @foreach (var item in Model.LeagueTableB)
                {
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TeamNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TeamName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MatchesPlayed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GamesWon)
                        </td>
                        <td>
                            <a asp-page="./Teams" asp-route-id="@item.TeamId">View</a>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    }
}
</div>