@page
@model IndexModel
@{
    ViewData["Title"] = "Killala Squash Club";
}
<div class="topdiv">
    <div class="HomeTitle">
        <h2>@Model.SelectedLeague.LeagueName</h2>
    </div>

    <div class="col-lg-3 LeagueSelect">
        <div>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Select League</label>
                    <select asp-for="SelectedLeague.LeagueId" class="form-control" asp-items="ViewBag.LeagueId" onchange="this.form.submit()"></select>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="topdiv">
    @if (Model.SelectedLeague.LeagueType == Models.LeagueType.Short)
    {
        <h4>Section A</h4>
    }
    <hr/>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Team
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeagueTableA[0].TeamName)
                </th>
                <th>
                    Played
                </th>
                <th>
                    Points
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1; }
            @foreach (var item in Model.LeagueTableA)
            {
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MatchesPlayed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GamesWon)
                    </td>
                    <td>
                        <a asp-page="./Teams" asp-route-id="@item.TeamId">View</a>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>

    @if (Model.SelectedLeague.LeagueType == Models.LeagueType.Short)
    {
        <h4>Section B</h4>
        <Hr/>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Team
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LeagueTableA[0].TeamName)
                    </th>
                    <th>
                        Played
                    </th>
                    <th>
                        Points
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ i = 1; }
                @foreach (var item in Model.LeagueTableB)
                {
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TeamNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TeamName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MatchesPlayed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GamesWon)
                        </td>
                        <td>
                            <a asp-page="./Teams" asp-route-id="@item.TeamId">View</a>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    }
</div>