@page
@model KSCApp.Pages.ResultsModel
@{
    ViewData["Title"] = "Results";
}
<div class="topdiv">
    <div class="HomeTitle">
        <h2>@ViewData["Title"]</h2>
    </div>

    @Html.Partial("_LeagueSelectPartial", @Model.LeagueSelectVM)

</div>

<div class="topdiv">
    <h4>@Model.LeagueSelectVM.SelectedLeague.LeagueName</h4>
    <hr />
    @foreach (var item in Model.ResultList)
    {
        <div class="well col-lg-6 col-lg-offset-3">
            <h6>
                @item.FixtureDetails
            </h6>
            <h4>
                @item.MatchDetails
            </h4>
            <p>
                @item.GameResults : @item.DatePlayed
            </p>

        </div>
    }
</div>

